<div class="jumbotron">
  <h2><%= gettext "Sign in to %{name}!", name: "MonzoSplit" %></h2>
  <p class="lead">Click on the boes below to<br /> login to your Monzo and Splitwise accounts.</p>

  <div class="boxes">
    <div class="box" id="monzo_box"></div>
    <div class="box" id="splitwise_box"></div>
  </div>
</div>
