<div class="jumbotron">
  <h2><%= gettext "Sign in to %{name}!", name: "MonzoSplit" %></h2>
  <p class="lead">Click on the boes below to<br /> login to your Monzo and Splitwise accounts.</p>

  <div class="boxes">
    <div drab-event="click" drab-handler="handle_monzo_click" class="box" id="monzo"></div>
    <div drab-event="click" drab-handler="handle_splitwise_click" class="box" id="splitwise"></div>
  </div>
</div>
