/* This file is for your main application css. */

.boxes {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 500px) {
  .boxes {
    flex-direction: column;
  }
}

.center {
  text-align: center;
  margin: auto;
}

.button {
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 1em;
}

.disabled:active {
  color: initial;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.box {
  width: 80%;
  max-width: 300px;
  margin: 5%;
  height: auto;
  min-height: 300px;
  border: none;
  cursor: pointer;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.box:hover {
  border-bottom: 5px solid darkgrey;
}

#monzo {
  float: left;
  background-image: url("https://monzo.com/static/images/mondo-mark-01.png");
}

#splitwise {
  background-image: url("https://dx0qysuen8cbs.cloudfront.net/assets/fat_rabbit/logo-d23d9f9f3a93162ac760371c8e22fea7e14a9d8491b477e7925e551b14172ada.png");
}

.disclaimer {
  text-align: center;
  color: darkgrey;
}

.disclaimer a {
  color: darkgrey;
  text-decoration: underline;
}
